DASHSCOPE_API_KEY=sk-5141ddd
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_MODEL="qwen-long-latest"

# Zotero user id，如果是 user 库，则对应的也是 library id
ZOTERO_USER_ID=62236
# Zotero 附件目录
ZOTERO_ROOT_DIR='/Users/gaoch/Nutstore Files/zotero.storage.2016'
# Zotero 数据目录
ZOTERO_DATA_DIR="/Users/gaoch/Zotero/storage"